h2{
    font-size: 3rem;
    font-weight: bold;
}

.btn-join-us{
    float: right;
}

.plan-img{
    transition: all 0.3s ease;
    animation: drop 1.5s;
}

.btn-join-us-master{
    background: #ff951c;
    color: #ffffff;
    border-radius: 100px;
    float: right;
}

.btn-join-us-master:hover{
    background: #d47100;
    color: #ffffff;
}

@media (max-width: 780px){
    main{
        margin: auto;
        width: 90%;
    }

    .hero-img{
        width: 70%;
    }

    .hero-text{
        text-align: center;
    }

    h1, h2{
        font-size: 1.5rem;
        text-align: center;
    }

    .plan .btn-join-us, .btn-join-us-master{
        margin: auto;
        width: 75%;
    }
    
    .plan{
        margin-bottom: 2rem;
    }

    form{
        text-align: center;
    }

    .btn-join-us, .btn-join-us-master{
        float: none;
        margin-bottom: 2rem;
    }

    .mail{
        margin-top: 2rem;
    }
}    

@media (max-width: 460px){
    .navbar-brand a{
        font-size: 1.6rem;
    }

    .logo{
        width: 55px;
    }

    .plan .btn-join-us, .btn-join-us-master{
        width: 85%;
    }
}